body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 95%;
  padding: 0;
  border: 1px solid #ccc;
  margin-top: 0;
  margin-bottom: 0;
  resize: vertical;	
}

input[type=submit] {
  background-color: #079191;
  color: white;
  padding: 5px 6px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0881ea;
}

/* Style the container/contact section */
.contact-section {
padding: 2px;
max-width: 100%;
  border-radius: 5px;
  background-color: #f2f2f2;
 margin-left: 3z0px; 
	
}

/* Create two columns that float next to eachother */
.column1 {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 30px;
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column1, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}