.project-gallery-section{
	max-width: 100%;
}
div.gallery {
 padding: 20px;
margin-right: 0;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
 max-width:  300px;
	height: auto;
	
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}