*-- social icons--*/
.main-icon section{
    max-height: 100vh;
    max-width: 100%;
}
.icons{
    position: fixed;
    top: 30%;
    right: 0%;
    width: 200px;
    display: flex;
    flex-direction: column;    
}
.icons a{
    text-decoration: none;
    padding: 7px;
    font-size-adjust: 22px;
    font-family: monospace,sans-serif;  
    margin: 2px;
    text-align: left;
    border-radius: 50px 0px 0px 50px;
    transform: translate(163px ,0px);
    transition: all 0.7s;
}


.icons a:hover{
    transform: translate(0px, 0px);
    color: white;
    
}
.icons a i{
    margin: right;  
    background-color: white;
    height: 25px;
    width: 25px;
    color: black;    
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    transition: all 0.5s;
}
.icons a:hover i{
    transform: rotate(360deg);
}
.icons a i.fa-github-square{
    color: #141313;
}
.github{
    background-color: #585656;
    color: white;
}
.icons a i.fa-facebook-f{
    color: #3b5998;
}
.icons a i.fa-facebook{
    color: #080877;
}
.facebook{
    background-color: #3b5998;
    color: white;
}
.icons a i.fa-youtube{
    color: #ff0000;
}
.youtube{
    background-color: #ff0000;
    color: white;
}
.linkdin{
    background-color: #007bb5;
    color: white;
}
.icons a i.fa-whatsapp{
    color: #12550e;
}
.whatsapp{
    background-color:  #4dc247;
    color: white;
}
.icons a i.fa-twitter{
    color:  #55acee;
}
.twitter{
    background-color:  #55acee;
    color: white;
}
.icons a i.fa-pinterest{
    color: #cb2027;
}
.pinterest{
    background-color: #cb2027;
    color: white;
}
.icons a i.fa-skype{
    color: #00aff0;
}
.skype{
    background-color: #00aff0;
    color: white;
}
