body{
    margin: 0;
    padding: 0;
}

.banner{
    background: url(../image/bijay-home.jpg) no-repeat center;
    background-size: cover;
    height: 100vh; 
    position: relative;
            
}

header{
    padding: 5px 30px 0px;
    background-color: rgba(157, 157, 165, 0.6);
    top: 30px;
    
}
.button1{
    color: white;
    border: none;
    background-color: #000;
    height: 40px;
    width: 40px;
}
.hat{    
    display: inline-block;
    
}

.search_my{
    float: right;
    border: 3px #000 solid;   
    height: auto;
}
.search1{
    border: none;
    background-color: none;
    width:  150px;  
    background-color: transparent;
    color: white;
}


/*
#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

*/





.nav1{
    background-color: rgba(226, 222, 222, 0.59);     
}
.navbar{
    padding: 0px;  
} 
.navbar-nav li{
      z-index: 1;
}
.navbar-nav li a{
    font-size: 17px;
    padding: 14px 55px!important;
}
.navbar-nav li a:hover{
    border-right: 3px solid #ff4f81;
    border-left:  3px solid #ff4f81;
    transition: 0.5s all;
}
.navbar .navbar-nav .nav-link{
    color: #000;
}




.wrapper{
   position: absolute;
    top: 50%;
    left: 13%;   
}

@media(max-width:1200px){
    .navbar-nav li{
        font-size: 15px;
    }
}
@media(max-width:992px){
    .navbar-toggler{
        margin: 10px 0px 10px 30px;
        background-color: #fff;
        border-color: #ff4f81;
    }
    .navbar-toggler:hover, .navbar-toggler:hover{
        margin: 10px 0px 10px 30px;
        background-color: #ff4f81;
        
    }
    .navbar-light{
        background-color: #e6e6e6;
		visibility: visible;
    }
    .navbar-nav li a{
        text-align: center;
        background-color: aliceblue;
    }
    .navbar-nav li a:hover
        background-color:#ff4f81; 
    }
}

/* ...........main content ............*/
/* ......site title ........ */
main .wrapper{
    position: absolute;
    height: 100vh;
    top: 50%;
    left: 50%;
    
    transform: translate(-92%, 1%);    
}
.wrapper h2{
    padding: 0;
    margin: 0;
    color: #fff;
    text-shadow: 0 2px 0 rgba(0,0,0,0.5);
    font-size: 40px;
}
.wrapper p{
    color: #fff;
    font-size: 18px;
    margin: 0;
    line-height: 35px;
    
}

.wrapper .contact-botton{
    padding: 8px 20px;
    font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #ff003b;
}
.contact-botton:hover{
    background-color: #ff003b;
}

.contact-botton:active{
    .button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
}
.wrapper .hire-me {
    border: 2px solid black;
  background-color: rgba(165, 7, 44, 0.67);
  color: #f20c0c;
    margin-right: 10px;
  padding: 9px 20px;
  font-size: 15px;
  cursor: pointer;
    border-color: #f2f2f8;
  color: #ffffff;
}
    
.hire-me:hover {
  background: #4c46ef;
  color: white;
}


.wrapper span:before{
    
    content: '';
    animation: animate infinite 8s;
}
@keyframes animate{
    0%{
        content: 'Hadoop Developer';
        color: #f71247;
    }
    25%{
        content: 'Freelancer';
        color: #15087c;
    }
    50%{
        content: 'Java Developer';
        color: #32dff5;
    }
    75%{
        content: 'Software Engineer';
        color: #cffa18;
    }
    100%{
        content: 'Graphic Designer';
        color: hsl(168, 72%, 79%);
    }
    
}

/* ..........  about section -------- */

/* .......... end  about section -------- */


/
/* ---- about -----*/
.about-section h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.border{
  width: 100px;
  height: 3px;
  background: #e74c3c;
  margin: 40px auto;
}
* {
    box-sizing: border-box
    
}
.about-1{
    -ms-flex: 50%;
    flex: 50%;
    background-color: white;
    padding: 20px; 
    margin-left: 50px;
    margin-right: 30px;
    margin-top: 5%;
    max-height: 100vh: 
}
.introduction{
    box-shadow: 0 8px 9px 5px rgba(0, 0, 0, 0.2);
    width: 70%;
    border-style: solid red;
    
}
.introduction img{
    width: 50%;
    border: 2px solid #d9d8d8;
    border-radius: 50px;
    margin-left: 25%;
    
}

.intro-box{
    border: 2px solid white;
    max-width: 100%;    
    border-left: 6px solid #109110; 
    background-color: #f1f1f1;
    box-shadow: red;
}
.intro-box h5{
    color: #1e0681;
    text-align: center;
    font-style: italic;   
}
.intro-box p{
    padding: 10px;
    text-justify: auto;
    
}


@media screen and (max-width: 500px) {
  .row {   
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
.about-2{
    -ms-flex: 50%;
    flex:40%;
    background-color: white;
    padding: 17px;
    max-width: 100%;
    max-height: 100vh;
}
.introduction1{
    box-shadow: 0 8px 9px 0 rgba(0, 0, 0, 0.2);
    width: 93%;
    border-style: solid red;
    
}

    /* ---- end about -----*/

.footer {
   position: relative;
   left: 0;
   bottom: 0;
   max-width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}

.container .footer-bs {
    background-color: #3c3d41;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}