body{
    margin: 0;
    padding: 0;
	position: relative
}


header{
    padding: 10px 30px 3px;
    background-color: rgba(199, 231, 240, 0.6);
    top: 30px;    
}
.button1{
    color: white;
    border: none;
    background-color: #000;
    height: 40px;
    width: 40px;
}
.hat{    
    display: inline-block;

    
}
.search_my{
    float: right;
    border: 3px #000 solid;   
    height: auto;
     margin-top: 10px;
}
.search1{
    border: none;
    background-color: none;
    width:  150px;  
    background-color: transparent;
    color: white;
}
navbar-toggler-icon{
    text-align: center;
}

.navbar-nav{
    float: right;
    margin-left:20px;
    box-sizing: 10px;
}
.navbar-brand:hover{
    background: red;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

}



li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover {
  background-color: #07cccc;
  text-decoration: none;

}

.active1 {
  background-color: #4CAF50;
box-sizing: 10px;
}

.container{
    max-width: 100%;
    max-height: 100vh;
}

.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: ;
  padding: 20px;
}
.sidebar {
   
background-color: #f1f1f1;
  position: relative;
  height: 100vh;
  overflow: auto;   
}

.sidebar a {
  display: block;
  text-align: left;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #f4e7f0;
  color: #121111;
}

.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 0;
width: 100%;
}

.list{
    background: none;
}
.content {      
    
  margin-left: 60px;
  margin-right: 20px;
  padding: 1px 16px;
  height: 100%; 
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
	  padding-left: 20px;
	  max-width: 100%;
	  
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}


/*.... acordation slide bar --*/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
 
}


/*.... acordation slide bar --*/


#mySVG {
  position: fixed;
  top: 15%;
  width: 1000px;
  height: 4px;
  margin-left:-50px;
}

/* footer--*/
/* Footer */
.footer {
 -ms-flex: 100%; /* IE10 */
  flex: 100%;
  position: inherit;
   left: 0;
   bottom: 0;
   max-width: 100%;
   background-color: #34393c;
   color: white;
   text-align: center;
}
.footer p{
    text-align: left;
    padding: 10px;
    color: white
}
.footer p b{
    color: #b6e3fa;
}
.container-fluid{
    margin-top: 30px;
  
    top: 10px;
    
}
.icons-footer p{
    text-align: center;
}
.icons-footer span{
   padding: 10px; 
}
.cons-footer a i.fa-facebook-f{
    color: #3b5998;
}




