body{
    margin: 5px;
    padding: 0;
}


header{
    padding: 10px 30px 3px;
    background-color: rgba(199, 231, 240, 0.6);
    top: 30px;    
}
.button1{
    color: white;
    border: none;
    background-color: #000;
    height: 40px;
    width: 40px;
}
.hat{    
    display: inline-block;

    
}
.search_my{
    float: right;
    border: 3px #000 solid;   
    height: auto;
     margin-top: 10px;
}
.search1{
    border: none;
    background-color: none;
    width:  150px;  
    background-color: transparent;
    color: white;
}
navbar-toggler-icon{
    text-align: center;
}

.navbar-nav{
    float: right;
    margin-left:20px;
    box-sizing: 10px;
}
.navbar-brand:hover{
    background: red;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

}

li {
float: left;
   
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover {
  background-color: #07cccc;
  text-decoration: none;

}

.active1 {
  background-color: #4CAF50;
box-sizing: 10px;
}
.container{
    max-width: 100%;
    max-height: 100vh;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  padding: 20px;
  
}

.col-itroduction{
    background-color:lavender; 
    height: 200px; width: 100%; box-sizing: 60%;
    text-align: center;
}
.col-introduction p{
    text-align: justify-all; 
    font-size: 500;
}
.slide img{
    
}
/* Main column */
.main {   
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  background-color: white;
  padding: 10px;
  margin-top: 20px;
    height: 100vh;
}
.word-of-day{
    background-color:lavender; 
    height: 500px; width: 100%; box-sizing: 60%;
    text-align: center;
    margin-top: 20px;
}
.sentence-of-day{
    background-color:lavender; 
    height: 220px; width: 100%; box-sizing: 60%;
    text-align: center;
    margin-top: 20px;
}


#aaa{
  display: none;
}
input[type="text"]{
    color: transparent;
    text-shadow: 0 0 0 #000;
    padding: 6px 12px;
    width: 150px;
    cursor: pointer;
}

input:focus + div#aaa {
  display: block;
}


.questions-box{
    border: 2px solid #727171;
    max-width: 80%;
    margin-left: 10%;
    border-left: 6px solid #109110; 
    background-color: #ffffff;
}
.questions-box p{
    text-align: left
    margin-bottom: 5px;
    color: #120764;
    font-weight: 500;
   

}

 
.hide-show-border pre{
    color:black;
    font-size: 15px;
    font-family: inherit; 
    font-weight: 450;
}

.right-sight{
    -ms-flex: 20%; /* IE10 */
  flex: 20%;
  background-color: white;
  padding: 20px;
}

/* Footer */
.footer {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  position: relative;
   left: 10;
   bottom: 0;
   width: 100%;
   background-color: #34393c;
   color: white;
   text-align: center;
}
.footer p{
    text-align: left;
    padding: 10px;
    color: white
}
.footer p b{
    color: #b6e3fa;
}
.container-fluid{
    margin-top: 30px;
  
    top: 10px;
    
}
.icons-footer p{
    text-align: center;
}
.icons-footer span{
   padding: 10px; 
}
.cons-footer a i.fa-facebook-f{
    color: #3b5998;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}