body{
    margin: 5px;
    padding: 0;
}


header{
    padding: 10px 30px 3px;
    background-color: rgba(199, 231, 240, 0.6);
    top: 30px;    
}
.button1{
    color: white;
    border: none;
    background-color: #000;
    height: 40px;
    width: 40px;
}
.hat{    
    display: inline-block;

    
}
.search_my{
    float: right;
    border: 3px #000 solid;   
    height: auto;
     margin-top: 10px;
}
.search1{
    border: none;
    background-color: none;
    width:  150px;  
    background-color: transparent;
    color: white;
}
navbar-toggler-icon{
    text-align: center;
}

.navbar-nav{
    float: right;
    margin-left:20px;
    box-sizing: 10px;
}
.navbar-brand:hover{
    background: red;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

}

li {
float: left;
border-right: 2px solid #bbb;
   
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover {
  background-color: #07cccc;
  text-decoration: none;

}

.active1 {
  background-color: #4CAF50;
box-sizing: 10px;
}
.container{
    max-width: 100%;
    max-height: 100vh;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 40%; /* IE10 */
  flex: 40%;
  background-color: white;
  padding: 20px;
}

/* right side */
.right-side{
     -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}


/* Footer */
.footer {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  position: relative;
   left: 10;
   bottom: 0;
   width: 100%;
   background-color: #34393c;
   color: white;
   text-align: center;
}
.footer p{
    text-align: left;
    padding: 10px;
    color: white
}
.footer p b{
    color: #b6e3fa;
}
.container-fluid{
    margin-top: 30px;
  
    top: 10px;
    
}
.icons-footer p{
    text-align: center;
}
.icons-footer span{
   padding: 10px; 
}
.cons-footer a i.fa-facebook-f{
    color: #3b5998;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}